/*animation*/
@keyframes firstStop{
    0%{
      stop-color: #97C0FC;
    }
    50%{
      stop-color: #869EE2;
    }
    100%{
      stop-color: #E294F5;
    }
  }
  
@keyframes secondStop{
    0%{
      stop-color: #869EE2;
    }
    50%{
      stop-color: #E294F5;
    }
    100%{
      stop-color: #97C0FC;
    }
}
  
  
@keyframes thirdStop{
    0%{
      stop-color: #E294F5;
    }
    50%{
      stop-color: #97C0FC;
    }
    100%{
      stop-color: #869EE2;
    }
 }
  
  
.first-stop{
 animation: firstStop 1.6s infinite alternate;
}
 
.second-stop{
  animation: secondStop 1.6s infinite alternate;
 }
 
 .third-stop{
  animation: thirdStop 1.6s infinite alternate;
 }
  
  

