/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
*{
  margin: 0;
	padding: 0;
	border: 0;
  border-spacing: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  margin: 0;
	padding: 0;
  color: #333333;
  clear:both;
  outline: 0;
  font-family: 'Noto Sans TC', sans-serif;
  overflow: auto !important;
  letter-spacing: 3px;
}

#loading{
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}
.loading-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

a{
  text-decoration: none;
}
a:hover{
  color: #36dbf1;
}
ol, ul{
  padding: unset;
}

/*-- text styles --*/
.text-custom-primary{
  color: #FF5858;
}
.text-custom-secondary{
  color: #39A0ED;
}
.text-custom-teriary{
  color: #4C6085;
}
.text-spacing{
  letter-spacing: 3px;
}
.font-light{
  color: #bbb;
}

/*-- button styles --*/

.btn-custom-primary{
  background-color: #FF5858;
  color: #fff;
}

.btn-custom-primary:hover{
  background-color: #d84747;
  transition: .5s;
  box-shadow: 2px 2px 4px #aaa;
  color: #fff;
}

.btn-custom-primary-border{
  background-color: unset;
  border: 2px solid #FF5858;
  color: #FF5858;
  transition: .5s;
}

.btn-custom-primary-border:hover{
  background-color: #FF5858;
  color: white;
}
.btn-custom-secondary{
  background-color: #39A0ED;
}
.btn-custom-teritary{
  background-color: #22939b;
}

/*-- background styles --*/
.bg-custom-primary{
  background-color: #F5F5F5;
}
.bg-custom-secondary{
  background-color: #16181b;
}

/*----- bootstrap component custom style -----*/
.work-wrapper .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #FF5858;
  border-bottom: 2px solid #FF5858;
  background-color: unset;
}
.work-wrapper .nav-link{
  margin: 0 auto;
  width: 120px;
  text-align: center;
  color: #A3A3A3;
  border-radius: unset;
}



/*----- cotainer styles -----*/
.navbar-dark .brand{
  font-size: 2rem;
}
.navbar-dark .brand:hover{
  color: #39A0ED;
}
.navbar-dark .nav-item .nav-link:hover{
  color: #36F1CD;
  transition: ease-in(.5s);
}
.navbar-dark .active .nav-link{
  color: #36F1CD;
  border-bottom: 2px solid #36F1CD;
}
.scrolled{
  background-color: #fff;
  transition: .2s;
  box-shadow: 0 10px 20px #eaeaea;
}

.main-wrapper{
  padding-top: 100px;
}
.main-wrapper .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main-wrapper .title-content{
  margin-top: 25%;
  grid-column-start: 1;
}
.main-wrapper .box-2{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.main-wrapper .sub-title{
  line-height: 1.4;
  letter-spacing: 2px;
}
.main-wrapper .work-btn{
  padding: 15px 30px;
  border-width: 3px;
  border-radius: 10px;
}
.main-wrapper .dotted-line{
  margin-left: 152px;
}


/*-- about me --*/
.aboutme-wrapper{
  transform: skewY(-3deg);
}
.aboutme-container{
  position: relative;;
  transform: skewY(3deg);
}
.aboutme-container .headshot-img{
  position: absolute;
  top: -20%;
  left: 0%;
  max-width: 400px;
  width: 100%;
  height: auto;
}

.quote-text{
  color: #aaa;
}
.aboutme-wrapper,.skill-wrapper, .work-wrapper, .contact-wrapper,
 .exp-wrapper, .anticipation-wrapper{
  padding: 5rem 0;
}

/*-- skill --*/
.skill-wrapper .card{
  box-shadow: 3px 6px 12px #bbb;
  border-radius: 20px;
  border: none;
}
.skill-wrapper .bar{
  position: relative;
}
.skill-wrapper .bar .skill-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.skill-wrapper .skill-icon > img{
  width: 40px;
  height: auto;
}



/*-- work --*/
.work-wrapper .portofolio-item{
  max-width: 300px;
  height: 300px;
  background-color: #FF5858;
}
.work-wrapper .container{
  max-width: 960px;
}
.work-wrapper .img-content img{
  width: 100%;
  height: auto;
}
.work-wrapper .card{
  overflow: hidden;
  height: 300px;
  background-color: #16181b;
  border-radius: 20px;
  box-shadow: 8px 8px 15px #000;
}
.work-wrapper .card .card-detail{
  display: none;
}


/*-- contact --*/
.contact-wrapper{
  padding-bottom: 12rem;
}
.contact-wrapper .contact-info{
  margin-left: 1rem;
}
.contact-wrapper .hyperlink-icon{
  margin-right: 1rem;
  color: #6c757d;
}
.contact-wrapper button:hover{
  border: 1px solid #36F1CD;
  color: #36F1CD;
  background-color: unset;
  transition: .3s;
}
.contact-wrapper .hyperlink-icon:hover{
  color: #36F1CD;
}
.contact-wrapper input, .contact-wrapper textarea{
  border: 1px solid #3a3a3a;
  background-color: #1b1e21;
  color: #36F1CD;
}
.contact-wrapper input:focus ,.contact-wrapper textarea:focus  {
  background-color: #32363a;
  border-color: #36F1CD;
  color: #36F1CD;
}
.contact-form button:hover{
  color: #010101;
  background-color: #36F1CD;
}


/*-- footer --*/
footer{
  text-align: center;
  border-top: 1px solid #222;
}


/*---------- scroll trigger ----------*/
.visible, .invisible {
  opacity: 0.0;
  transition: opacity 0.5s ease;
}
.visible {
  opacity: 1.0;
}

/*---------- break-point ----------*/
@media(max-width: 990px){
  .navbar{
    width: 100vw;
  }
  .navbar .collapse{
    height: calc(100vh - 40px);
  }
  .navbar .navbar-nav li{
    padding: 1rem;
    font-size: 24px;
  }
  .navbar .btn-select-language{
    margin-top: 2rem;
    margin-left: 5rem;
  }
  .main-wrapper .container{
    grid-template-columns: 1;
  }
  .main-wrapper .title-content{
    margin-top: 0%;
    grid-column-start: 1;
    grid-column-end: 3;

  }
  .main-wrapper .dotted-line{
    margin-left: 0;
    margin-top: 1rem;
    justify-self: end;
  }
  .main-wrapper .box-2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .main-wrapper .box-3{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
  }
  .work-wrapper .container{
    max-width: 660px;
  }
  .contact-wrapper form{
    margin-top: 2rem;
  }
  
  .skill-wrapper, .work-wrapper, .contact-wrapper, 
  .exp-wrapper,.aboutme-wrapper, .anticipation-wrapper{
    padding: 5rem 3rem;
  }
  .skill-wrapper .card{
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 380px;
  }
}

@media(max-width: 768px){
  .aboutme-content{
    margin-top: 2rem;
  }
  .aboutme-container .headshot-img{
    max-width: 200px;
  }
  .download-cv{
    width: 120px;
  }
  .work-wrapper{
    padding-top: 1rem;
  }
  .work-wrapper .portofolio-item{
    margin: 0 auto;
  }
  .skill-wrapper, .contact-wrapper, 
  .exp-wrapper,.aboutme-wrapper, .anticipation-wrapper{
    padding-top: 0rem;
  }
  .anticipation-content .vertical-line{
    height: 72%;
    left: 20px;
  }
  .anticipation-list{
    padding: 0;
  }
  .contact-wrapper .btn{
    width: 100%;
  }
}

@media(max-width: 480px){
  html { font-size: 12px ;} 
  .dynamic-texts .dynamic-occupation .type-content::after{
    bottom: 0;
    height: 60px;
  }
  .skill-wrapper,.contact-wrapper, 
  .exp-wrapper,.aboutme-wrapper, .anticipation-wrapper{
    padding: 0 1rem;
  }
  .anticipation-content .vertical-line{
    height: 75%;
    left: 16px;
  }
}

