/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
*{
  margin: 0;
	padding: 0;
	border: 0;
  border-spacing: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  outline: none;
}

body {
  margin: 0;
	padding: 0;
  color: #333333;
  clear:both;
  outline: 0;
  font-family: 'Noto Sans TC', sans-serif;
  overflow: auto !important;
  letter-spacing: 3px;
}

#loading{
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}
.loading-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

a{
  text-decoration: none;
}
a:hover{
  color: #36dbf1;
}
ol, ul{
  padding: unset;
}

/*-- text styles --*/
.text-custom-primary{
  color: #FF5858;
}
.text-custom-secondary{
  color: #39A0ED;
}
.text-custom-teriary{
  color: #4C6085;
}
.text-spacing{
  letter-spacing: 3px;
}
.font-light{
  color: #bbb;
}

/*-- button styles --*/

.btn-custom-primary{
  background-color: #FF5858;
  color: #fff;
}

.btn-custom-primary:hover{
  background-color: #d84747;
  transition: .5s;
  box-shadow: 2px 2px 4px #aaa;
  color: #fff;
}

.btn-custom-primary-border{
  background-color: unset;
  border: 2px solid #FF5858;
  color: #FF5858;
  transition: .5s;
}

.btn-custom-primary-border:hover{
  background-color: #FF5858;
  color: white;
}
.btn-custom-secondary{
  background-color: #39A0ED;
}
.btn-custom-teritary{
  background-color: #22939b;
}

/*-- background styles --*/
.bg-custom-primary{
  background-color: #F5F5F5;
}
.bg-custom-secondary{
  background-color: #16181b;
}

/*----- bootstrap component custom style -----*/
.work-wrapper .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #FF5858;
  border-bottom: 2px solid #FF5858;
  background-color: unset;
}
.work-wrapper .nav-link{
  margin: 0 auto;
  width: 120px;
  text-align: center;
  color: #A3A3A3;
  border-radius: unset;
}



/*----- cotainer styles -----*/

.navbar{
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.nav-icon:hover{
  fill: #FF5858;
}
.navbar-nav{
  align-items: center;
}

/*在手機裝置上當brand消失補上brand的位置，避免nav-toggle跑版*/
.navbar .empty-block{
  display: none;
  width: 50px;
  height: 50px;
}
.scrolled{
  transition: .2s;
  box-shadow: 0 10px 20px #eaeaea;
}

.main-wrapper{
  padding-top: 100px;
}
.main-wrapper .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main-wrapper .title-content{
  margin-top: 25%;
  grid-column-start: 1;
}
.main-wrapper .box-2{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.main-wrapper .sub-title{
  line-height: 1.4;
  letter-spacing: 2px;
}
.main-wrapper .work-btn{
  padding: 15px 30px;
  border-width: 3px;
  border-radius: 10px;
}
.main-wrapper .dotted-line{
  margin-left: 152px;
}


/*-- about me --*/
.aboutme-padding-top{
  padding-top: 8rem;
}
.aboutme-wrapper{
  transform: skewY(-3deg);
}
.aboutme-container{
  position: relative;;
  transform: skewY(3deg);
}
.aboutme-container .headshot-img{
  position: absolute;
  top: -20%;
  left: 0%;
  max-width: 400px;
  width: 100%;
  height: auto;
}

.quote-text{
  color: #aaa;
}
.aboutme-wrapper,.skill-wrapper,
 .exp-wrapper, .anticipation-wrapper{
  padding: 5rem 0;
}

/*-- skill --*/
.skill-wrapper .bg-triangle{
  position: absolute;
  left: -8%;
}
.skill-wrapper .card{
  box-shadow: 3px 6px 12px #bbb;
  border-radius: 20px;
  border: none;
  height: 100%;
}
.skill-wrapper .bar{
  position: relative;
}
.skill-wrapper .bar .skill-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.skill-wrapper .skill-icon > img{
  width: 40px;
  height: auto;
}



/*-- work --*/
.work-wrapper{
  padding-bottom: 8rem;
  position: relative;
  overflow: hidden;
}
.work-wrapper .bg-circle{
  position: absolute;
  z-index: -1;
  right: -8%;
}
.work-wrapper .portofolio-item{
  position: relative;
}
.portofolio-cover-branding, .portofolio-cover-project, .portofolio-cover-UIUX{
  position: absolute;
  padding: 1.5rem;
  width: 300px;
  height: 100%;
  color: #fff;
  opacity: 0;
}
.work-wrapper .portofolio-content{
  margin-top: 6rem;
}

.portofolio-cover-branding:hover{
  cursor: pointer;
  transition: .2s;
  opacity: 1;
  background-color: #FF5858;
}
.portofolio-cover-project:hover{
  cursor: pointer;
  transition: .2s;
  opacity: 1;
  background-color: #869EE2;
}
.portofolio-cover-UIUX{
  color: #C15B5B;
}
.portofolio-cover-UIUX:hover{
  cursor: pointer;
  transition: .2s;
  opacity: 1;
  background-color: #FFD2D2;
}
.portofolio-hyperlink{
  border: 2px solid #fff;
  border-radius: 20px;
  color: #fff;
}
.portofolio-hyperlink-branding:hover{
  background-color:#d34747;
  color: #fff;
}
.portofolio-hyperlink-project:hover{
  background-color:#5970af;
  color: #fff;
}
.portofolio-hyperlink-UIUX{
  border: 2px solid #C15B5B;
  color: #C15B5B;
}
.portofolio-hyperlink-UIUX:hover{
  background-color:#bb5252;
  color: #fff;
}

.work-wrapper .container{
  max-width: 960px;
}
.work-wrapper .img-content img{
  width: 100%;
  height: auto;
}
.work-wrapper .card{
  overflow: hidden;
  height: 300px;
  background-color: #16181b;
  border-radius: 20px;
  box-shadow: 8px 8px 15px #000;
}
.work-wrapper .card .card-detail{
  display: none;
}




/*-- footer --*/
footer{
  padding: 5rem 0;
  text-align: center;
  background-color: #899FC9 ;
}
footer .container{
  max-width: 1120px;
  justify-content: center;
}

/*---------- scroll trigger ----------*/
.visible, .invisible {
  opacity: 0.0;
  transition: opacity 0.5s ease;
}
.visible {
  opacity: 1.0;
}

/*---------- break-point ----------*/
@media(max-width: 990px){
  .navbar{
    width: 100vw;
  }
  .navbar .collapse{
    height: calc(100vh - 40px);
  }
  .navbar .navbar-nav{
    margin-top: 10%;
    align-items: flex-start;
  }
  .navbar .nav-icon{
    display: none;
  }
  .navbar .navbar-nav li{
    padding: 1rem;
    font-size: 24px;
  }
  .navbar .brand img{
    width: 50px;
    height: auto;
  }
  .navbar .navbar-toggler{
    padding: 0;
    width: 50px;
    height: 50px;
  }
  .navbar-toggler .navbar-toggler-icon-close{
    width: 1.2rem;
    background-image: url('../../public/assets/images/cancel.png');
  }
  .brand-hide{
    display: none;
  }
  .navbar .btn-select-language{
    margin-top: 2rem;
    margin-left: 5rem;
  }
  .main-wrapper .container{
    grid-template-columns: 1;
  }
  .main-wrapper .title-content{
    margin-top: 0%;
    grid-column-start: 1;
    grid-column-end: 3;

  }
  .main-wrapper .dotted-line{
    margin-left: 0;
    margin-top: 1rem;
    justify-self: end;
  }
  .main-wrapper .box-2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .main-wrapper .box-3{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
  }
  .aboutme-wrapper .headshot-img{
    position: unset;
  }
  .work-wrapper .container, footer .container{
    max-width: 660px;
  }
  .portofolio-cover-branding, .portofolio-cover-project, .portofolio-cover-UIUX{
    left: 50%;
    transform: translateX(-50%);
  }
  .work-wrapper,.exp-wrapper,.aboutme-wrapper,.skill-wrapper {
    padding: 5rem 3rem;
  }

  .skill-wrapper{
    padding-bottom: 0rem;
  }
  .skill-wrapper .skill-item{
    margin-bottom: 2rem;
  }
  .skill-wrapper .card{
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 380px;
  }
  
}

@media(max-width: 768px){
  .aboutme-content{
    margin-top: 2rem;
  }
  .aboutme-padding-top{
    padding-top: 0;
  }
  .work-wrapper{
    padding-top: 1rem;
  }
  .work-wrapper .bg-circle, .skill-wrapper .bg-triangle{
    display: none;
  }
  .work-wrapper .portofolio-item{
    margin: 0 auto;
    text-align: center;
  }
  .skill-wrapper, .aboutme-wrapper, .exp-wrapper{
    padding-top: 5rem;
  }
  .anticipation-content .vertical-line{
    height: 72%;
    left: 20px;
  }
  .anticipation-list{
    padding: 0;
  }
  .contact-wrapper .btn{
    width: 100%;
  }
}

@media(max-width: 480px){
  html { font-size: 12px ;} 
  .navbar .navbar-toggler{
    width: 40px;
    height: 40px;
  }
  .skill-wrapper,.work-wrapper, 
  .exp-wrapper,.aboutme-wrapper{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .aboutme-wrapper{
    padding-top: 7rem;
    padding-bottom: 4rem;
  }
  .work-wrapper{
    padding-top: 2rem;
  }

}

